# PRECAUTION: do not use this in production

DEBUG=True
SECRET_KEY=change-me
DATABASE_URL=postgis://city-infrastructure-platform:city-infrastructure-platform@localhost/city-infrastructure-platform
ALLOWED_HOSTS=127.0.0.1,localhost
OIDC_AUTHENTICATION_ENABLED=False
AZURE_DEPLOYMENT=False
SENTRY_DSN=
