# Global settings
export AZURE_ACCOUNT_NAME="account-name"
export AZURE_ACCOUNT_KEY="account-key"

# Containers
export AZURE_BLOBSTORAGE_CONTAINER_ICONS="icon-container-name"
export AZURE_BLOBSTORAGE_CONTAINER_UPLOADS="uploads-storage-name"
export AZURE_BLOBSTORAGE_CONTAINER_OLD="old-container-name"

# SAS tokens
export AZURE_SAS_TOKEN_ICON="icon-container-sas-token"
export AZURE_SAS_TOKEN_UPLOADS="uploads-container-sas-token"
export AZURE_SAS_TOKEN_OLD="old-sas-token"
