# Global settings
export AZURE_ACCOUNT_NAME="storage-account-name"

# Storage containers
export AZURE_BLOBSTORAGE_CONTAINER_PUBLIC="public-container-name"
export AZURE_BLOBSTORAGE_CONTAINER_PRIVATE="private-storage-name"

# SAS tokens
export AZURE_SAS_TOKEN_PUBLIC="public-container-sas-token"
export AZURE_SAS_TOKEN_PRIVATE="private-container-sas-token"
