{% load i18n %}

{% block content %}
{% spaceless %}

<p>{% translate "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat, neque vel porttitor viverra, ipsum nisi hendrerit odio, id fringilla turpis turpis nec magna." %}</p>
<p>{% translate "Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae pretium nibh. Nullam facilisis eleifend diam, a volutpat urna posuere id. Sed imperdiet leo posuere, ultrices orci sed, commodo lacus. Nulla eu massa id metus convallis efficitur. Duis vel tincidunt metus. Aliquam vitae mattis magna. Praesent egestas in sapien ornare pulvinar." %}</p>
<p>{% translate "Nam dapibus leo ut mi ultrices, eget feugiat massa facilisis. Aliquam vel consectetur lacus. Etiam sit amet orci non elit sodales maximus vel nec nisl." %}</p>

{% endspaceless %}
{% endblock %}
