{% load tz %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet"
              href="{% static 'traffic_control/css/embed.css' %}" />
    </head>

    <body>
        <div>
            <b>{% translate "Visual representation" %}</b>
        </div>
        {% if object.device_type.icon_file %}
            <img class="traffic-sign-icon"
                 src="{{ object.device_type.get_icons.svg }}"
                 alt="{{ object.device_type.description }}"
                 width="120"
                 height="120" />
        {% else %}
            {% if object.device_type.description %}
                <div>{% translate "Missing icon graphics. Description: " %}{{ object.device_type.description }}</div>
            {% endif %}
        {% endif %}
        {% if object.value %}<div>{{ object.value }}</div>{% endif %}
        {% if object.txt %}<div>{{ object.txt }}</div>{% endif %}

        <ul class="list-related">
            {% for additional_sign in additional_signs %}
                <li class="additional-sign">
                    <div>
                        {% if additional_sign.object.device_type.icon_file %}
                            <img class="additional-sign-icon"
                                 src="{{ additional_sign.object.device_type.get_icons.svg }}"
                                 alt="{{ additional_sign.object.device_type.description }}"
                                 width="100"
                                 height="100" />
                        {% else %}
                            {% if additional_sign.object.device_type.description %}
                                <div>{% translate "Missing icon graphics. Description: " %}{{ additional_sign.object.device_type.description }}</div>
                            {% endif %}
                        {% endif %}
                        {% include "embed/_content_s_rows.html" with content_s_rows=additional_sign.object.get_content_s_rows %}
                        {% if additional_sign.object.additional_information %}
                            <div>{{ additional_sign.object.additional_information }}</div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <dl>
            {% for field, value in traffic_sign_fields %}
                <dt>{{ field.verbose_name }}</dt>
                <dd>
                    {% if value != "" %}
                        {{ value|default_if_none:"-" }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>

        <h2>{% translate "Additional signs" %}</h2>

        <ul class="list-related">
            {% for additional_sign in additional_signs %}
                <li class="additional-sign">
                    <div>
                        {% if additional_sign.object.device_type.icon_file %}
                            <img class="additional-sign-icon"
                                 src="{{ additional_sign.object.device_type.get_icons.svg }}"
                                 alt="{{ additional_sign.object.device_type.description }}"
                                 width="100"
                                 height="100" />
                        {% else %}
                            {% if additional_sign.object.device_type.description %}
                                <div>{% translate "Missing icon graphics. Description: " %}{{ additional_sign.object.device_type.description }}</div>
                            {% endif %}
                        {% endif %}
                        <dl>
                            {% for field, value in additional_sign.fields %}
                                {% if field.name == 'content_s' %}
                                    <dt>{{ field.verbose_name }}</dt>
                                    <dd>
                                        {% include "embed/_content_s_rows.html" with content_s_rows=additional_sign.object.get_content_s_rows css_class="content-s-nested" %}
                                    </dd>
                                {% else %}
                                    <dt>{{ field.verbose_name }}</dt>
                                    <dd>
                                        {% if value != "" %}
                                            {{ value|default_if_none:"-" }}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </dd>
                                {% endif %}
                            {% endfor %}
                        </dl>
                    </div>
                </li>
            {% empty %}
                <p>{% translate "No additional signs" %}</p>
            {% endfor %}
        </ul>

        <h2>{% translate "Mount" %}</h2>

        {% if mount_fields %}
            <dl>
                {% for field, value in mount_fields %}
                    <dt>{{ field.verbose_name }}</dt>
                    <dd>
                        {% if value != "" %}
                            {{ value|default_if_none:"-" }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        {% else %}
            <p>{% translate "No mount" %}</p>
        {% endif %}

    </body>
</html>
