{% load tz %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet"
              href="{% static 'traffic_control/css/embed.css' %}" />
    </head>

    <body>
        <div>
            <b>{% translate "Visual representation" %}</b>
        </div>
        {% include "embed/_device_icon.html" with device=object css_class="traffic-sign-icon" size=120 %}
        {% if object.value %}<div>{{ object.value }}</div>{% endif %}
        {% if object.txt %}<div>{{ object.txt }}</div>{% endif %}

        <ul class="list-related">
            {% for additional_sign in additional_signs %}
                <li class="additional-sign">
                    <div>
                        {% include "embed/_device_icon.html" with device=additional_sign.object css_class="additional-sign-icon" size=100 %}
                        {% include "embed/_content_s_rows.html" with content_s_rows=additional_sign.object.get_content_s_rows %}
                        {% if additional_sign.object.additional_information %}
                            <div>{{ additional_sign.object.additional_information }}</div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% include "embed/_field_list.html" with fields_and_values=traffic_sign_fields object=object %}

        <h2>{% translate "Additional signs" %}</h2>

        <ul class="list-related">
            {% for additional_sign in additional_signs %}
                <li class="additional-sign">
                    <div>
                        {% include "embed/_device_icon.html" with device=additional_sign.object css_class="additional-sign-icon" size=100 %}
                        {% include "embed/_field_list.html" with fields_and_values=additional_sign.fields object=additional_sign.object %}
                    </div>
                </li>
            {% empty %}
                <p>{% translate "No additional signs" %}</p>
            {% endfor %}
        </ul>

        <h2>{% translate "Mount" %}</h2>

        {% if mount_fields %}
            {% include "embed/_field_list.html" with fields_and_values=mount_fields object=object %}
        {% else %}
            <p>{% translate "No mount" %}</p>
        {% endif %}

    </body>
</html>
