{% load tz %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet"
              href="{% static 'traffic_control/css/embed.css' %}" />
    </head>

    <body>
        {% if object.device_type.icon %}
            <img class="traffic-sign-icon"
                 src="{{ object.device_type.get_icons.svg }}"
                 alt="{{ object.device_type.description }}"
                 width="120"
                 height="120" />
            {% if object.value %}<div>{{ object.value }}</div>{% endif %}
            {% if object.txt %}<div>{{ object.txt }}</div>{% endif %}
        {% endif %}
        <ul class="list-related">
            {% for additional_sign in additional_signs %}
                <li class="additional-sign">
                    <div>
                        {% if additional_sign.object.device_type.icon %}
                            <img class="additional-sign-icon"
                                 src="{{ additional_sign.object.device_type.get_icons.svg }}"
                                 alt="{{ additional_sign.object.device_type.description }}"
                                 width="100"
                                 height="100" />
                        {% endif %}
                        {% if additional_sign.object.additional_information %}
                            <div>{{ additional_sign.object.additional_information }}</div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <dl>
            {% for field, value in traffic_sign_fields %}
                <dt>{{ field.verbose_name }}</dt>
                <dd>
                    {% if value != "" %}
                        {{ value|default_if_none:"-" }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>

        <h2>{% translate "Additional signs" %}</h2>

        <ul class="list-related">
            {% for additional_sign in additional_signs %}
                <li class="additional-sign">
                    <div>
                        {% if additional_sign.object.device_type.icon %}
                            <img class="additional-sign-icon"
                                 src="{{ additional_sign.object.device_type.get_icons.svg }}"
                                 alt="{{ additional_sign.object.device_type.description }}"
                                 width="100"
                                 height="100" />
                        {% endif %}
                        <dl>
                            {% for field, value in additional_sign.fields %}
                                <dt>{{ field.verbose_name }}</dt>
                                <dd>
                                    {% if value != "" %}
                                        {{ value|default_if_none:"-" }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                </li>
            {% empty %}
                <p>No additional signs</p>
            {% endfor %}
        </ul>

        <h2>{% translate "Mount" %}</h2>

        {% if mount_fields %}
            <dl>
                {% for field, value in mount_fields %}
                    <dt>{{ field.verbose_name }}</dt>
                    <dd>
                        {% if value != "" %}
                            {{ value|default_if_none:"-" }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        {% else %}
            <p>{% translate "No mount" %}</p>
        {% endif %}

    </body>
</html>
