{% extends "admin/change_confirmation.html" %}
{% load i18n admin_urls static %}

{% block content %}
    {% if add or save_as_new %}
        <p>{% blocktrans with escaped_object=object %}Are you sure you want to add the {{ model_name }}?{% endblocktrans %}</p>
    {% else %}
        <p>
            {% blocktrans with escaped_object=object %}You have manually changed the location of the plan, while the 'derive location' option is turned on.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans with escaped_object=object %}For as long as the 'derive location' option is active, the location of the plan will always be derived anew, whenever a traffic control device plan is assigned to this plan.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans with escaped_object=object %}Are you sure you want to continue, without first disabling the 'derive location' option?{% endblocktrans %}
        </p>
    {% endif %}

    {% include "admin/change_data.html" %}

    <form {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
          method="post"
          {% if add %}action="{% url opts|admin_urlname:'add' %}" {% else %}action="{% url opts|admin_urlname:'change' object_id|admin_urlquote %}"{% endif %}>
        {% csrf_token %}
        <div class="hidden"
             id="hidden-form">
            {{ form.as_p }}
            {% for cleared_field in cleared_fields %}
                <input type="checkbox"
                       name="{{ cleared_field }}-clear"
                       checked />
            {% endfor %}
            {% for formset in formsets %}{{ formset.as_p }}{% endfor %}
        </div>
        {% if is_popup %}
            <input type="hidden"
                   name="{{ is_popup_var }}"
                   value="1" />
        {% endif %}
        {% if to_field %}
            <input type="hidden"
                   name="{{ to_field_var }}"
                   value="{{ to_field }}" />
        {% endif %}
        {% if form.is_multipart %}
            <input type="hidden"
                   name="_confirmation_received"
                   value="True" />
        {% endif %}
        <div class="submit-row">
            <input type="submit"
                   value="{% trans "Yes, I’m sure" %}"
                   name="{{ submit_name }}" />
            <p class="deletelink-box">
                <a href="#"
                   class="button cancel-link">{% trans "No, continue to edit" %}</a>
            </p>
        </div>
    </form>
{% endblock %}
