{% load static %}

<!DOCTYPE html>
<html lang="fi">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static "traffic_control/css/catalog.css" %}" />
    </head>
    <body>
        <h1>{{ title }}</h1>

        <table id="signs">
            <colgroup>
                <col span="1"
                     class="code" />
                <col span="1"
                     class="description" />
                <col span="1"
                     class="icon" />
                <col span="1"
                     class="value" />
                <col span="1"
                     class="unit" />
                <col span="1"
                     class="size" />
                <col span="1"
                     class="legacy_code" />
                <col span="1"
                     class="legacy_description" />
                <col span="1"
                     class="schema" />
                <col span="1"
                     class="device_type_id" />
            </colgroup>

            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Icon</th>
                <th>Value</th>
                <th>Unit</th>
                <th>Size</th>
                <th>Legacy code</th>
                <th>Legacy description</th>
                <th>Content schema</th>
                <th>Device type ID</th>
            </tr>

            {% for device_type in device_types %}
                <tr>
                    <td>{{ device_type.code }}</td>
                    <td>{{ device_type.description }}</td>
                    <td>
                        {% if device_type.icon %}
                            <img src="{{ device_type.get_icons.svg }}"
                                 width="200"
                                 height="200"
                                 alt="{{ device_type.icon }}" />
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ device_type.value }}</td>
                    <td>{{ device_type.unit }}</td>
                    <td>{{ device_type.size }}</td>
                    <td>{{ device_type.legacy_code }}</td>
                    <td>{{ device_type.legacy_description }}</td>
                    <td>
                        <pre>{{ device_type.content_schema }}</pre>
                    </td>
                    <td class="device_type_id">{{ device_type.id }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
