.description {
    width: 400px;
}

.icon {
    width: 240px;
}

td {
    vertical-align: top;
    border: 1px solid silver;
    padding: 10px;
}

td.device_type_id {
    font-family: monospace;
}

table tr:nth-child(even) td {
    background-color: white;
}

table tr:nth-child(odd) td {
    background-color: cornsilk;
}

img {
    width: 200px;
    height: auto;
}

.asc {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='0,8 8,8 4,0' style='fill:black'/></svg>");
    background-repeat: no-repeat;
    background-position: right;
}

.desc {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='0,0 8,0 4,8' style='fill:black'/></svg>");
    background-repeat: no-repeat;
    background-position: right;
}
